<section name="sideBar">
    <div class="sideBar row-fluid">
        <h4>My ScratchPads</h4>
        <div class="scratchPads">

            <ul>
                <li *ngFor="let pad of (myscratchPads|async)" [ngClass]="{'active':selected.title == pad.title}">
                    <a  (click)="select(pad);">{{pad.title}}</a>
                </li>

            </ul>
        </div>
        <div class="createScratchPad">
            <h4>Create Scratchpad</h4>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="model.title" placeholder="Scratchpad Name">
            </div>
            <div class="form-group">
                <textarea id="description" name="description" [(ngModel)]="model.description" class="form-control" placeholder="Describe your Scratchpad"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success" (click)="onCreatePad();">Save</button>
            </div>
            <div *ngIf="errors | async" class="form-group">
                <strong> {{errors | async}} </strong>

            </div>
            <div class="form-group">
                <strong> {{message | async}} </strong>
            </div>

        </div>
    </div>
</section>